
.video-container {
  max-width: 640px;
  text-align: left;
  margin: 0px auto;
}

.video-container textarea {
  width: 100%;
  height: 100px;
}

.video-overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-overlay);
  text-align: center;
}

.video-overlay .video-button-wrapper {
  flex-direction: row;
  margin-bottom: 10px;
}

.video-overlay .video-overlay-button {
  margin: 0 1em;
  padding: 0.6em 1.2em;
  cursor: pointer;
  background: var(--v-color-background);
  border-radius: 4px;
}

.video-overlay .video-overlay-button:hover {
  background: var(--v-color-primary);
}

.video-background-wrapper {
  position: relative;
  width: 100%;
}

.video-background {
  width: 100%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

:focus {
  outline: 1px solid var(--color-outline);
}
