
:root {
  --color-overlay: #fff;
  --color-outline: #164ada;
  --v-color-primary: #b7090b;
  --v-color-primary-faded: #830607;
  --v-color-secondary: #cacaca;
  --v-color-background: rgba(38, 38, 38, 0.9);
  --v-color-background-above: rgba(46, 46, 46, 0.8);
  --v-color-shadow: #000;
  --v-color-video-background: #000;
  --v-color-outline: #164ada;
}
